.mdx-wrapper {
  color: hsl(var(--foreground));
  font-size: 16px;

  /* List styles */
  ul,
  ol {
    padding: 0 1rem;
    margin: 0.5rem 1rem 0.5rem 0.4rem;

    li p {
      margin-top: 0.25em;
      margin-bottom: 0.25em;
    }
  }

  /* Heading styles */
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    line-height: 1.1;
    margin-top: 2.5rem;
    margin-bottom: 1rem;
    text-wrap: pretty;
  }

  h1,
  h2 {
    margin-top: 2.5rem;
    margin-bottom: 1rem;
  }

  h1 {
    font-size: 24px;
  }

  h2 {
    font-size: 21px;
  }

  h3 {
    font-size: 19px;
  }

  h4,
  h5,
  h6 {
    font-size: 16px;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 600;
  }

  h1 + h2,
  h1 + h3,
  h1 + h4,
  h2 + h3,
  h2 + h4,
  h2 + h5,
  h3 + h4,
  h3 + h5,
  h3 + h6,
  h4 + h5,
  h4 + h6,
  h5 + h6 {
    margin-top: 0.5rem !important; /* Reduce spacing between consecutive headings */
  }

  h1 strong,
  h1 b,
  h2 strong,
  h2 b,
  h3 strong,
  h3 b,
  h4 strong,
  h4 b,
  h5 strong,
  h5 b,
  h6 strong,
  h6 b,
  th strong,
  th b {
    font-weight: inherit;
  }

  ul {
    list-style-type: disc;
  }

  li {
    list-style-type: decimal;
  }

  /* Code and preformatted text styles */
  /* code {
    background-color: var(--muted);
    border-radius: 0.4rem;
    color: var(--primary-foreground);
    font-size: 0.85rem;
    padding: 0.25em 0.3em;
  }

  pre {
    background: var(--primary-foreground);
    border-radius: 0.5rem;
    color: var(--primary-background);
    font-family: 'JetBrainsMono', monospace;
    margin: 1.5rem 0;
    padding: 0.75rem 1rem;

    code {
      background: none;
      color: inherit;
      font-size: 0.8rem;
      padding: 0;
    }
  } */

  blockquote {
    border-left: 3px solid var(--);
    margin: 1.5rem 0;
    padding-left: 1rem;
  }

  hr {
    border: none;
    border-top: 1px solid var(--border);
    margin: 2rem 0;
  }

  p {
    margin: 0.5rem 0;
    line-height: 1.6;
  }

  .table-wrapper {
    overflow-x: auto;
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  table {
    border-collapse: separate;
    border-spacing: 0;
    overflow: clip;
    margin: 0;
    table-layout: auto;
    width: 100%;

    border: 1px solid hsl(var(--border));
    border-radius: 0.5rem;

    .selectedCell::after {
      background-color: hsl(var(--foreground)) !important;
      opacity: 0.1;
    }

    td,
    th {
      box-sizing: border-box;
      min-width: 1em;
      padding: 6px 8px;
      position: relative;
      vertical-align: top;

      > * {
        margin-bottom: 0;
      }
    }

    th {
      background-color: hsl(var(--muted));
      font-weight: 600;
      text-align: left;
    }

    th {
      border-left: 1px solid hsl(var(--border));
    }

    th:first-child {
      border-left: none;
    }

    td {
      border-top: 1px solid hsl(var(--border));
      border-left: 1px solid hsl(var(--border));
    }

    td:first-child {
      border-left: none;
    }
  }

  a {
    color: hsl(var(--primary));
    text-decoration: underline;
    font-weight: 500;
    &:hover {
      color: hsl(var(--primary-hover));
      text-decoration: underline;
    }
  }
}
